@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Noto+Sans&family=Open+Sans&family=PT+Sans+Caption&family=Roboto&display=swap');

:root {
    --cor0: #1f0a1d;
    --cor1: #334f53;
    --cor2: #45936c;
    --cor3: #9acc77;
    --cor4: #e5ead4;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fontTitulo: 'Roboto', sans-serif;
    --fontSubTitulo: 'PT Sans Caption', sans-serif;
    --fontTxt: 'Open Sans', sans-serif;
    --fontLink: 'Noto Sans', sans-serif;
    --fontMenu: 'Concert One', cursive;

}

body {
    background-color: var(--cor4);
    margin: 0px;
    font-family: var(--fonte-padrao);
}

a {
    text-decoration: none;
}

/* cabeçalho */
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header h1 {
    color: var(--cor0);
    font-weight: normal;
    font-family: var(--fontTitulo);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.555);
}

header p {
    color: var(--cor4);
    font-size: 1.2em;
    margin: auto;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 500px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.555);
}

/* menu */
nav a {
    text-decoration: none;
}

nav a:hover,
.Mconteudo:hover {
    text-decoration: underline;
    color: var(--cor4);
}

/* classes/Id's do menu*/
.nav {
    background-color: var(--cor2);
    font-family: var(--fontMenu);
    margin: auto;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    top: 0px;
}

#logo {
    margin: 0px;
    padding: 10px;
}

#menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    transition: all 0.6s;

}

.lista {
    margin: 0px;
    padding: 0 20px;
}

#MSand {
    background-color: transparent;
    border: none;
    font-size: 36px;
    position: absolute;
    right: 10px;
    display: none;
}

.Mconteudo,
#logo,
#MSand {
    color: var(--cor0);
    transition-duration: 1s;
}

.nav,
#menu {
    display: flex;
    flex-direction: row;
}

.lista:hover,
#logo:hover,
#MSand:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: var(--cor3);
}

#MSand:focus~#menu {
    height: 210px;
}

/* corpo */
main {
    background-color: var(--cor4);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

main>h1 {
    margin-bottom: 10px;
    font-family: var(--fontTitulo);
    text-align: center;
    background-color: var(--cor1);
    color: var(--cor4);
    font-size: 2em;
    border-radius: 25px;
}

main>h2{
    padding: 5px 15px;
    margin: 10px;
    font-family: var(--fontSubTitulo);
    background-image: linear-gradient(to right, var(--cor3), transparent);
    color: var(--cor4);
    font-size: 1.5em;
    border-radius: 15px;
}

section p {
    font-family: var(--fontTxt);
    color: var(--cor1);
    text-align: justify;
}

section a {
    text-align: center;
    color: var(--cor0);
    font-size: 1em;
    text-decoration: none;
}

section a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
    cursor: pointer;
}

/* classes/Id's do corpo*/
.subTI,
.subTC,
.subTP {
    font-family: var(--fontSubTitulo);
    padding: 10px;
    color: var(--cor0);
    background-color: var(--cor2);
}

.subTI,
.subTC {
    margin: 2px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.541);
    border-radius: 20px;
}

.subTP {
    margin: 0px;
    margin-top: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#perfil {
    display: flex;
}

#perfilImg {
    border-radius: 15px;
}

#perfilTxt {
    padding: 0px 15px;
}

.aIframe {
    margin: auto;
    max-width: 100px;
    font-family: var(--fontLink);
    font-size: 2em;
    border-radius: 15px;
    display: block;
}

.caixa,
.caixa2 {
    margin: 0px;
    padding: 5px 20px 0px 20px;
}

.caixa{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    color: var(--cor4);
}

.caixa2{
    color: var(--cor0);
}

#div1,
#div2,
#div3 {
    display: none;
}

.btn {
    background-color: var(--cor4);
    color: var(--cor0);
    padding: 0px 10px;
    border: none;
    font-size: 32px;
    transition-duration: 1s;
}

.btn:hover {
    background-color: var(--cor3);
    color: var(--cor4);
    cursor: pointer;
}

#tabela {
    background-color: var(--cor1);
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: block;
    max-width: 500px;
    min-width: 250px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.541);
}

#TitTab {
    background-color: var(--cor2);
    color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0px 0px;
}

#ListTab {
    list-style-type: "\2714\00A0";
    list-style-position: inside;
    columns: 2;
}

/* frame */
#tela {
    width: 95vh;
    margin: auto;
    display: block;
    border: 2px solid black;
    height: 400px;
}

/* rodape */
footer {
    background: linear-gradient(90deg, var(--cor4) 0%, var(--cor3) 35%, var(--cor3) 58%, var(--cor4) 100%);
    border: 30px;
    color: var(--cor0);
    text-align: center;
    font-size: 0.9em;
    margin: auto;
    padding: 10px;

}

footer a {
    color: var(--cor1);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

/* responsividade */
@media (max-width: 850px) {
    .nav {
        align-items: flex-start;
    }

    #menu {
        text-align: center;
        margin: 0;
        height: 0;
    }

    #MSand {
        display: flex;
    }

    #logo {
        margin: 10px;
    }

    .lista,
    #menu {
        width: 100%;
    }

    .nav,
    #menu {
        flex-direction: column;
    }

    /* frame */
    #tela {
        width: 88vw;
    }
}

@media (max-width: 750px) {
    #perfil {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #perfilImg {
        margin: auto;
        display: block;
        border-radius: 50%;
    }
}