@charset "UTF-8";

:root {
    --cor0: #f22b56;
    --cor1: #9b4b54;
    --cor2: #4d8f81;
    --cor3: #78bd91;
    --cor4: #ebebab;
}

body {
    background-color: var(--cor4);
    margin: 0px;
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header  h1{
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.555);
}

header  p{
    font-size: 1.2em;
    margin: auto;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 500px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.555);
}

header>h1, p{
    color: var(--cor0);
}

#MBarra {
    background-color: var(--cor2);
    margin: auto;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    top: 0px;
}

#logo {
    margin: 0px;
    padding: 10px;
}

#menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    transition: all 0.6s;

}

.lista {
    margin: 0px;
    padding: 0 20px;
}

#MSand {
    background-color: transparent;
    border: none;
    font-size: 36px;
    position: absolute;
    right: 10px;
    display: none;
}

.Mconteudo,
#logo,
#MSand {
    color: var(--cor1);
    transition-duration: 1s;
}

#MBarra,
#menu {
    display: flex;
    flex-direction: row;
}

.lista:hover,
#logo:hover,
#MSand:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: var(--cor4);
}

#MSand:focus~#menu {
    height: 360px;
}

nav a{
    text-decoration: none;
}

nav a:hover,
.Mconteudo:hover{
    text-decoration: underline;
    color: var(--cor0);
}

main {
    background-color: var(--cor1);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

main>h1{
    text-align: center;
    background-color: var(--cor4);
    color: var(--cor0);
    font-size: 2em;
    border-radius: 25px;
}

.subT{
    margin: 2px;
    padding: 10px;
    color: var(--cor1);
    max-width: 250px;
    background-color: var(--cor3);
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.541);
}

section>p{
    color: var(--cor4);
    text-align: justify;
}

section>a{
    text-align: center;
    color: var(--cor2);
    font-size: 2em;
    text-decoration: none;

}

section> a:hover{
    background-color: var(--cor4);
    color: var(--cor0);
    cursor: pointer;
}

footer{
    background-color: var(--cor2);
    border-radius: 30px;
    color: var(--cor1);
    text-align: center;
    font-size: 0.9em;
    padding: 10px;
}

footer a{
    color: var(--cor1);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

@media (max-width: 850px) {
    #MBarra {
        align-items: flex-start;
    }

    #menu {
        text-align: center;
        margin: 0;
        height: 0;
    }

    #MSand {
        display: flex;
    }

    #logo {
        margin: 10px;
    }

    .lista,
    #menu {
        width: 100%;
    }

    #MBarra,
    #menu {
        flex-direction: column;
    }
}